# Ambiente virtual
venv/
.venv/
env/

# Variáveis de ambiente
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# Banco local
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db